
# Final Exam Practice Problems
**Note:** The final exam in Math 167PS is cumulative. Combine this list of practice problems with the lists from the previous two exams to get a better feeling for which topics and kinds of problems may appear on the final. 

**Disclaimer:** This document is a work in progress. Expect more problems to be added over the next couple of days.

## Problem 1

To practice SQL commands, try the following exercises from your SQL textbook (which all refer to the bank database, that you have seen in class). You can find the ER-Schema of the bank database on page 272 of your textbook. It is not necessary to run any actual SQL code to answer the questions below. Note, that you are not being asked for output in problems 3-1 to 3-4, but rather just for the SQL code to produce specific output. 

### Exercise 3-1

Write a SQL query to retrieve the employee ID, first name, and last name for all bank employees. Sort by last name and then by first name.

### Exercise 3-2

Write a SQL query to retrieve the account ID, customer ID, and available balance for all accounts whose status equals 'ACTIVE' and whose available balance is greater than \\$2,500.

### Exercise 3-3

Write a SQL query against the account table that returns the IDs of the employees who opened the accounts (use the account.open_emp_id column). Include a single row for each distinct employee.

### Exercise 3-4

Fill in the blanks (denoted by <#>) for this multi-data-set query to achieve the results shown here (here, refers to the table shown on page 60 of your text). 
```
mysql> SELECT p.product_cd, a.cust_id, a.avail_balance 
-> FROM product p INNER JOIN account <1>
-> ON p.product_cd = <2>
-> WHERE p.<3> = 'ACCOUNT'
-> ORDER BY <4>, <5>; 
```

**Note:** The data table for Exercises 4-1 to 4-3 can be found on page 79 of your text. Try to answer the following questions *without* actually running the stated query. Only run the query (or look in appendix C) to check your answer. 

### Exercise 4-1

Which of the transaction IDs would be returned by the following filter conditions?
     txn_date < '2005-02-26' AND (txn_type_cd = 'DBT' OR amount > 100)
     
### Exercise 4-2
Which of the transaction IDs would be returned by the following filter conditions?
     account_id IN (101,103) AND NOT (txn_type_cd = 'DBT' OR amount > 100)
     
### Exercise 4-3
Write a SQL query that retrieves all accounts opened in 2002.

### Exercise 5-1
Fill in the blanks (denoted by <#>) for the following query to obtain the results shown on page 97 of the text):
```
mysql> SELECT e.emp_id, e.fname, e.lname, b.name 
-> FROM employee e INNER JOIN <1> b
-> ON e.assigned_branch_id = b.<2>;
```

### Exercise 5-2
Write a query that returns the account ID for each nonbusiness customer (customer.cust_type_cd = 'I') with the customer’s federal ID (customer.fed_id) and the name of the product on which the account is based (product.name).

### Exercise 5-3
Construct a query that finds all employees whose supervisor is assigned to a different department. Retrieve the employees’ ID, first name, and last name.

## Problem 2

For the mystery functions defined below, describe what the function does in one (or at most two) succinct English sentences. What are the input values(s) that this function accepts? Provide input value(s) for which the output will be (3,3).

In [21]:
def mystery_function(*foo):
    k = len(foo)
    return(k, foo[k-1])

## Problem 3

A website sells Covid-19 masks for $7.99, each. Quantity discounts are given as follows:

|  Quantity | Discount  |
|:-:|:-:|
| 1-9   | none  |
| 10-19   | 10\%  |
| 20-49   | 15\%  |
| 50-99   | 20\%  |
| 100 or more   | 25\%  |


Write a function called "total_cost" that accepts the number of masks purchased as an argument (integer $\ge 0$) and returns the total cost in \$ (as a float, rounded to the nearest cent) after the discount. 

Example: If the input is 12, then the output should be 86.29.

In [22]:
def total_cost(n):
    """Finds total cost of masks"""
        
# Example
# total_cost(12) ==86.29

## Problem 4


Write function called "make_change" that accepts as input a float (for instance 0.78) and returns (as a string) the description of the smallest number of coins (American currency) with which one could represent that value. 

Example: 0.78 should return "3 quarters and 0 dimes and 0 nickels and 3 pennies".

In [28]:
def make_change(val):
    """Find smallest number of coins to make change"""

# Example
# make_change(0.78) == '3 quarters and 0 dimes and 0 nickels and 3 pennies'

## Problem 5

Write a Python function called "min_max" that can read a list of fractions from a file and returns the smallest and largest fractions found in the list in the form of a string. 

Example: min_max([12/5, 94/37, 25/3, 90/57]) = "The smallest fraction is 90/57. The largest fraction is 25/3."

Example: min_max([1/5, 1/6, 1/7]) = "The smallest fraction is 1/7. The largest fraction is 1/5."

**Hint:** Use Numpy

In [29]:
import numpy as np

def min_max(list):
    """Finds smallest and largest fractions in a list"""
    

# Example
# min_max(['12/5', '94/37', '25/3', '90/57']) == 'The smallest faction is 90/57. The largest fraction is 25/3.'

## Problem 6

For the mystery function defined below, describe what the function does in one succinct English sentence.

In [33]:
def mystery(list):
    foo = False
    if len(list) == 1: 
        foo =  list[0]
    else: 
        foo = mystery(list[1:])
    return foo

## Problem 7 

For the function "f" defined below, identify the input value "a" that will result in output 3. 
That is (f(a) ==3) is True

In [63]:
def f(a):
    count = 0
    (oldx, oldy, oldz) = (1,1,1)
    for (x,y,z) in a:
        if ((x != oldy) or (y != oldz)):
            return 42
        elif (x+y != z):
            return -42
        else:
            (oldx, oldy, oldz) = (x,y,z)
            count += 1
    return count

# Find a such that 
# f(a)==3

## Problem 8

For the function "f" defined below, identify the input value "a" that will result in output ([4,5],6).

In [92]:
def f(a):
    s = set()
    d = dict()
    for i in range(len(a)):
        if (i%2 == 0):
            if (a[i] in d):
                s.add(a[i+1])
            else:
                d[a[i]] = a[i+1]
    return (sorted(s), d[42])

# Find a, such that 
# f(a) == ([4,5],6)

## Problem 9

Write a Python function called "group_by_owners". The function should take as its input a dictionary in which file names are the keys and the values are the names of the owner of the files. The function should return another dictionary in which the names of the owners are the keys and the values are lists of files for each owner. 

Example: Input = {'File1.txt' : 'Bob', 'File2.txt': 'Anna', 'File3.txt': 'Bob'}
Output: {'Bob':['File1.txt', 'File3.txt'], 'Anna': ['File2.txt']}

## Problem 10

Write a Python function called "coin_value" that takes as input a string in which each character represents a coin (assume no spaces and only the letters p (penny, \$0.01), n (nickel, \\$0.05), d (dime, \\$0.10), and q (quarter, \\$0.25). Find the total value represented by the coins in the string. 

Example: coint_value(pdnnqp) = 0.47

In [91]:
def coin_value(s):
    """ Finds dollar value of coin input string"""

# Example 
# coin_value('pdnnqp')== 0.47