## In-Class Problem Set 6

**Problem:** Consider the following data on results (think test values) for six different people at four different time points. We have information on the patients (anonymized), their gender, and their test results. 

Create a line-graph of result as a function of time point for each patient separately. That means that your graph should show six lines. Include the following detail into your graph. Include one level of detail at a time!

* label both axes ("Time Point" and "Results", respectively)
* make lines for females red and lines for males blue
* use different line styles (solid, dashed, dotted) for different patients
* create a legend for the six patients
* change x-axis tick marks to only include the four time points

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Patient = np.array([[i]*4 for i in range(1,7)]).reshape(24)
Time = np.array([1,2,3,4]*6)
Gender = np.array(['F']*12 + ['M']*12)
Result = np.array([1, 4, 5, 5, 1, 5, 5, 5, 1, 5, 4, 4, 1, 6, 6, 7, 2, 7, 6, 8, 2, 7, 8, 6])

data = pd.DataFrame({'Patient' : Patient, 'Time':Time, 'Gender': Gender, 'Result': Result})
data

    Patient  Time Gender  Result
0         1     1      F       1
1         1     2      F       4
2         1     3      F       5
3         1     4      F       5
4         2     1      F       1
5         2     2      F       5
6         2     3      F       5
7         2     4      F       5
8         3     1      F       1
9         3     2      F       5
10        3     3      F       4
11        3     4      F       4
12        4     1      M       1
13        4     2      M       6
14        4     3      M       6
15        4     4      M       7
16        5     1      M       2
17        5     2      M       7
18        5     3      M       6
19        5     4      M       8
20        6     1      M       2
21        6     2      M       7
22        6     3      M       8
23        6     4      M       6