Before you turn this homework set in, make sure everything runs as expected. When you are done modifying this file,  **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name below. In the code cells, make sure to replace the **raise NotImplementedError()** statement with your actual code.

In [ ]:
NAME = "Liyuan Sun"

---

# Homework 10

In this assignment, we're working with SQL. In particular, we'll be working with the Northwind database. This database contains sales data from a ficticious company called "Northwind Traders" which imports and exports specialty foods from around the world. These data have been created by Microsoft years ago and are used as the basis for various tutorials. 

Begin by re-creating the database on the MySQL server on your machine:

1. Download the file "northwindmysql.sql" from Canvas and save it somewhere on your machine under, say, "MyPath/northwindmysql.com"
2. Log on to MySQL as root and run the following commands (I'm assuming that 'user' is an existing user that you have previously created). 

```
CREATE DATABASE northwind;
GRANT ALL PRIVILEGES ON northwind.* to 'user'@'localhost';
USE northwind;
SOURCE MyPath/northwindmysql.sql;
QUIT;
```

3. Then log on as the user and change the database to northwind. Look at all the tables you have (there should be nine of them).

```
USE northwind;
SHOW TABLES;
```

4. Now you're ready to write SQL statements to answer the questions below. 

**Alternative:** If you are not able to install MySQL on your machine, then you may try out your SQL code 
on the website ["w3schools" SQL tutorial](https://www.w3schools.com/sql/). This tutorial site is working with the Northwind database and can run SQL queries on this database that you enter directly into the website. However, the functionality of the website is somewhat restricted and you won't be able to run general queries (such as DESC statements or anything that requires more general privileges). But you should be able to run straightforward SELECT, JOIN, and GROUP BY statements. 

**Note:** The image file "northwind-er-diagram.png" (which you can also download from Canvas) shows an entity-relationship diagram for the Northwind database tables. 

**Heads-Up:** Variable names and data formats vary slightly between the data in "northwindmysql.sql" and on w3schools. Please clearly indicate for the grader in the cell below which version of the data you are working with.

Using the data in "northwindmysql.sql"

This is how I would like you to format your answers for this assignment: Show the SQL code that you are using to find the answer and state the answer to each question. Both of these can be done in a Markdown cell. You *do not* have to include the output you get from MySQL in this HW. 

**Example Question:** How many different countries do the customers of "Northwind Traders" come from? 

**Example Answer:**

SQL code: 
```DESC customers;``` (to learn what the variables are called - or look at the ER diagram. On w3schools, click on the name of the table to learn about the variable names).
```SELECT DISTINCT country from customers;```

Answer: 21 different countries

### Problem 1

Describe the 'products' table. How many rows and columns does the table have? Which variables are in the columns? What are their data types? What is used as the primary key in this table?

SQL code: 

```DESC products;``` (to learn what the variables are called)

```SELECT COUNT(ProductID) FROM products;``` (to check the total rows)

Answer:There are total 77 rows and 10 columns. ProductID is the primary key.

| |Variables| Data Type  |
|:--|:--|:--|
|1| <span style="color:red"> ProductID  </span> | <span style="color:blue"> int(11) </span> |
|2| <span style="color:red"> ProductName  </span> | <span style="color:blue">varchar(40) </span> |
|3| <span style="color:red"> SupplierID  </span> | <span style="color:blue">int(11) </span> |
|4| <span style="color:red"> CategoryID  </span> | <span style="color:blue">int(11) </span> | 
|5| <span style="color:red"> QuantityPerUnit  </span> | <span style="color:blue">varchar(20) </span> |
|6| <span style="color:red"> UnitPrice  </span> | <span style="color:blue">decimal(19,4) </span> |
|7| <span style="color:red"> UnitsInStock  </span> | <span style="color:blue">int(11) </span> |
|8| <span style="color:red"> UnitsOnOrder  </span> | <span style="color:blue">int(11) </span> |
|9| <span style="color:red"> ReorderLevel  </span> | <span style="color:blue">int(11) </span> |
|10| <span style="color:red"> Discontinued  </span> | <span style="color:blue">tinyint(1) </span> |

### Problem 2

List the names and unit prices of the three most expensive items that the company lists in the product table. We don't know what the ficticious currency is that Northwind Traders uses. That's ok.

SQL code:

```SELECT ProductName, UnitPrice 
FROM products
ORDER BY UnitPrice DESC
LIMIT 3;```

### Problem 3

Find a list of the names of all products that were ordered on January 10th, 1996 together with names of the company who ordered the product and total order value. You can find the total order value by multiplying the unit price with the number of units ordered and multiplying the result with (1-Discount).  

Note: the \`order details\` table has two words in its name. Use \`back-quotes\` to communicate to MySQL that this is one name.

SQL code:

```SELECT c.ProductName, d.CompanyName, 
	b.UnitPrice * b.Quantity * (1 - b.Discount) AS TotalOrderValue
FROM Orders AS a 
INNER JOIN `order details` AS b
	ON a.OrderID = b.OrderID
INNER JOIN Products AS c
	ON c.ProductID = b.ProductID
INNER JOIN Customers AS d
	ON d.CustomerID = a.CustomerID
WHERE a.OrderDate LIKE '%1996-01-10%';```

### Problem 4

Find the company names of the three customers who spent the most in May 1996. List the company name along with the total amount spent (rounded to the second after-decimal digit of currency). 

Recall, that total amount spent on a single order can be computed as (unit price)\*(number of units ordered)\*(1-discount).

SQL code:

```SELECT c.CompanyName,
    round(sum(b.UnitPrice * b.Quantity * (1 - b.Discount)),2) AS TotalOrderValue
FROM Orders AS a
INNER JOIN `order details` AS b
	ON a.OrderID = b.OrderID
INNER JOIN Customers AS c
	ON c.CustomerID = a.CustomerID
WHERE a.OrderDate LIKE '%1996-05%'
GROUP BY c.CustomerID
ORDER BY TotalOrderValue DESC
LIMIT 3;```

Answer: 

| | CompanyName  | TotalOrderValue|
|:--|:--|:--|
|1|  <span style="color:blue"> Save-a-lot Markets </span> |21150.05 |
|2|  <span style="color:blue"> Ernst Handel </span> | 15719.75|
|3|  <span style="color:blue"> White Clover Markets </span> | 9831.25|