Before you turn this homework set in, make sure everything runs as expected. When you are done modifying this file,  **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name below. In the code cells, make sure to replace the **raise NotImplementedError()** statement with your actual code.

In [ ]:
NAME = "Liyuan Sun"

---

# Homework 6

In all problems below, please comment your code sufficiently well so that the grader can follow what you are doing with ease. For non-coding answers, please make sure to formulate your explanation and answers in the form of complete English sentences. It is not sufficient to just leave comments in the code (without full sentence explanations in problems that ask for those) or vice versa (to leave full sentence explanations but not code comments). You will need both to get full credit.

## Problem 1

The code below generates a random sample from a Poisson distribution. Run the cell to create sample X.

In [46]:
import numpy as np
from scipy import stats

np.random.seed(13)
X = stats.poisson(7).rvs(925)

Use bootstrapping to find a 95\% confidence interval for the sample mean. Report your result with two after-decimal digit accuracy and justify all the choices you made in your code.

In [78]:
np.random.seed(10)

# create m = 1000 random bootstrap samples
m = 1000
bootstrap_X_mean = []  # initialize the variances matrix

# find sample means of each bootstrap sample
for i in range(m):
    bs_X = np.random.choice(X,size = 925) # create one bootstrap sample by resampling the original sample with replacement 100 times
    bootstrap_X_mean.append(np.mean(bs_X))

# find the lower-bound and upper-bound of sample mean estimates
lb = round(np.percentile(bootstrap_X_mean, 2.5),2)
ub = round(np.percentile(bootstrap_X_mean, 97.5),2)

print("The 95% confidence interval for the bootstrap sample mean is [",lb,",",ub,"].")

The 95% confidence interval for the bootstrap sample mean is [ 6.84 , 7.2 ].

__Result:__ 
<br> The 95% condifence interval for the random bootstrap sample mean is around $[6.5, 7.55]$. 

<br>__Sample Size $n$:__ 
<br>Bootstrap samples are taken with replacement from the original sample. They usually have the same size $n$ as the original sample. In the original poisson sample, the sample size is equal to 925. Therefore, $size=925$ would be a good choice for this question.

<br>__Repeated Times $m$:__ 
<br> A bootstrap distribution of the statistic "sample mean" could be obtained by repeatedly finding the sample mean of very many bootstrap samples. To be specific, when $m = 1000$, the corresponding interval is $[6.84, 7.2]$. When $m = 10000$, results are very similar $[6.84, 7.18]$, which does not change a lot. Therefore, the repeated times $m = 1000$ would be a good choice for this question.

## Problem 2

Write a function called "local_peak" that takes as its input a one-dimensional Pandas series and returns a list of the positions of all local "peaks". That is, your function should return a list of the position values of all numbers in the series have have smaller values on both sides of them. 

Example: For ```pd.Series([1,3,2,4,4,5,7,4,5])``` your function should return ```[1,6]```.
For ```pd.Series([1,2,3,3,3,2])``` your function should return ```[]``` (since there is no local peak in this series, but rather a "plateau".)

In [43]:
import numpy as np
import pandas as pd
X = pd.Series([1,3,2,4,4,5,7,4,5])
len(X)

9

In [44]:
import pandas as pd
import numpy as np

def local_peak(X):
    """Finds position of local peaks in Pandas Series"""
    
    n = len(X)                             # get the lenth of Pandas series X
    local_peaks = []                       # initiate a list to store local peaks index

    for i in range(1,n-1):                        # for loop: tranverse the series index from 1 to (n-2)
            if X[i] > X[i-1] and X[i] > X[i+1]:   # if element is greater than both sides, it's a local peak
                    local_peaks.append(i)         # append the local peak index to the list
                    
    return local_peaks
            
# check your answer: 
X = pd.Series([1,3,2,4,4,5,7,4,5])
local_peak(X) == [1,6]

True

## Problem 3

The data set "Titanic_train.csv" is Kaggle's training data set for their famous "Titanic" competition. It contains information about a subset of 891 passengers on the Titanic. Download the data set from Canvas. The variables in the file are 
- PassengerID (enumerating the passengers from 1-891)
- Survived (0 = No, 1 = Yes)
- Pclass (passenger class, 1 = 1st, 2 = 2nd, 3 = 3rd, a proxy for socio-economic status)
- Name
- Sex
- Age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5
- SibSP (number of siblings and spouses on board. Sibling = brother, sister, stepbrother, stepsister.
Spouse = husband, wife (mistresses and fiancés were ignored))
- Parch (# of parents / children aboard the Titanic)
- Ticket (Ticket number)
- Fare (Passenger fare)
- Cabin (Cabin number)
- Embarked (Port of Embarkation: C = Cherbourg, Q = Queenstown, S = Southampton)

Load the data. (Refresh your memory with Lecture 7 if necessary). 

(a) Write Pandas code to find the percentage of make and female passengers in this data set who survived rounded to three after-decimal digits. Produce a print statement for your answer.

In [2]:
import pandas as pd
Titanic_train = pd.read_csv("Titanic_train.csv")

# select male and female passengers separately
male = Titanic_train[Titanic_train['Sex'] == "male"]
female = Titanic_train[Titanic_train['Sex'] == "female"]

# calculate the ratio of survived male to all male passengers, so does female 
male_percent = round(sum(male["Survived"] == 1)/len(male),3)
female_percent = round(sum(female["Survived"] == 1)/len(female),3)

print("The percentage of male passengers who survived is around",male_percent)
print("The percentage of female passengers who survived is around",female_percent)

The percentage of male passengers who survived is around 0.189
The percentage of female passengers who survived is around 0.742

(b) Write Pandas code to find the name(s) and age of the oldest surviving passenger(s) of known age. If there are ties, report all names. Produce a print statement for your answer.

In [38]:
# find the maxium age
age = max(Titanic_train.Age)

# find the name of oldest surviving passenger(s)
idx = Titanic_train.index[Titanic_train.Age == age]
name = Titanic_train.Name[idx]
print("The oldest surviving passenger(s) was",name.values[0],"S/he was",age,"years old.")

# type(Titanic_train)         pandas.core.frame.DataFrame
# Titanic_train.values[0]     array([1, 0, 3, 'Braund, Mr. Owen Harris', 'male', 22.0, 1, 0,'A/5 21171', 7.25, nan, 'S'], dtype=object)
# Titanic_train.index         RangeIndex(start=0, stop=891, step=1)

# type(Titanic_train.Name)    pandas.core.series.Series
# type(name)                  pandas.core.series.Series
# name.values[0]             'Barkworth, Mr. Algernon Henry Wilson'
# name.index[0]               630

The oldest surviving passenger(s) was Barkworth, Mr. Algernon Henry Wilson S/he was 80.0 years old.

(c) Report the percentage of missing data on "Age" for passengers in 1st, 2nd, 3rd class respectively. Produce a print statement for your answer.

In [46]:
# For the 1st class passengers 
first_class = Titanic_train[Titanic_train.Pclass == 1]
p1 = round(sum(first_class.Age.isna())/len(first_class.Age),3)
print("The percentage of missing data on 'Age' for 1st class passengers is", p1)

# For the 2nd class passengers 
second_class = Titanic_train[Titanic_train.Pclass == 2]
p2 = round(sum(second_class.Age.isna())/len(second_class.Age),3)
print("The percentage of missing data on 'Age' for 2nd class passengers is", p2)

# For the 3rd class passengers 
third_class = Titanic_train[Titanic_train.Pclass == 3]
p3 = round(sum(third_class.Age.isna())/len(third_class.Age),3)
print("The percentage of missing data on 'Age' for 3rd class passengers is", p3)

The percentage of missing data on 'Age' for 1st class passengers is 0.139
The percentage of missing data on 'Age' for 2nd class passengers is 0.06
The percentage of missing data on 'Age' for 3rd class passengers is 0.277

(d) Create a Pandas series of the names of all male passengers who have "John" as part of their first, last or middle name. How many names are in that series?

In [65]:
male = Titanic_train[Titanic_train.Sex == "male"]
names = male.Name
idx = [name.find("John")>-1 for name in names]
print("There are",sum(idx),"male passengers who have 'John' in their names.")
names[idx]

# The find() method returns an integer value. 
# If substring exists inside the string, it returns the index of first occurence of the substring. 
# If substring doesn't exist inside the string, it returns -1.

There are 41 male passengers who have 'John' in their names.

45                            Rogers, Mr. William John
112                             Barton, Mr. David John
117                    Turpin, Mr. William John Robert
160                           Cribb, Mr. John Hatfield
162                         Bengtsson, Mr. John Viktor
165    Goldsmith, Master. Frank John William "Frankie"
168                                Baumann, Mr. John D
188                                   Bourke, Mr. John
212                             Perkin, Mr. John Henry
226                          Mellors, Mr. William John
227                    Lovell, Mr. John Hall ("Henry")
302                    Johnson, Mr. William Cahoone Jr
324                           Sage, Mr. George John Jr
401                                    Adams, Mr. John
418                         Matthews, Mr. William John
467                         Smart, Mr. John Montgomery
527                                 Farthing, Mr. John
548                          Goldsmith, Mr. Frank John
549                     Davies, Master. John Morgan Jr
550                        Thayer, Mr. John Borland Jr
563                                  Simmons, Mr. John
572                   Flynn, Mr. John Irwin ("Irving")
574                       Rush, Mr. Alfred George John
583                                Ross, Mr. John Hugo
586                            Jarvis, Mr. John Denzil
594                            Chapman, Mr. John Henry
597                                Johnson, Mr. Alfred
613                                   Horgan, Mr. John
624                        Bowen, Mr. David John "Dai"
694                                    Weir, Col. John
698                           Thayer, Mr. John Borland
719                       Johnson, Mr. Malkolm Joackim
733                         Berriman, Mr. William John
760                                 Garfirth, Mr. John
783                             Johnston, Mr. Andrew G
818                   Holm, Mr. John Fredrik Alexander
822                    Reuchlin, Jonkheer. John George
825                                    Flynn, Mr. John
848                                  Harper, Rev. John
864                             Gill, Mr. John William
869                    Johnson, Master. Harold Theodor
Name: Name, dtype: object

## Problem 4 

The two files "WorldBank_Metadata_Countries.csv" and "WorldBank_Population.csv" are available on Canvas. The population file contains information downloaded from the world bank data portal on population counts in a number of countries from 1960 to 2018. The metadata file contains information on the world-region the country is in, and on the general income group of the country. 

Open both files in Excel and familiarize yourself with the layout of the data. Then, use Pandas to load both files in Python. Write Pandas code to create the following table:

- Include only the countries in the region "Europe & Central Asia"
- Use the "Country Name" as the row identifier or Index value.
- Include the following columns for each country:
    * population count in 1988 
    * population count in 2018 
    * percent growth in population between 1988 and 2018 (this should be a negative number if the population in 2018 is smaller than in 1988). Example: if population grows from 100k to 105k, then the growth is 5\%.
    * income group of the country.
    
Display your table in Data Frame format in your notebook.

In [95]:
import pandas as pd

# Use Pandas to load files
wd_countries = pd.read_csv("WorldBank_Metadata_Countries.csv")
wd_population = pd.read_csv("WorldBank_Population.csv")

merged_data = pd.merge(wd_countries,wd_population,on="Country Code")# merge two dataframes by common variable
region = merged_data[merged_data.Region == "Europe & Central Asia"] # select observations by indexing
region.set_index(["Country Name"],inplace = True)                   # choose index

# create a new data frame
df1 = region.copy()                                                 # need a copy, otherwise there's warning message
df1["Percent Growth"] = (df1["2018"]/df1["1988"]-1)*100
df2 = df1[["1988","2018","Percent Growth","IncomeGroup"]]
df2

,1988,2018,Percent Growth,IncomeGroup
Country Name,,,,
Albania,3142336.0,2866376.0,-8.782002,Upper middle income
Andorra,50434.0,77006.0,52.686680,High income
Armenia,3504659.0,2951776.0,-15.775657,Upper middle income
Austria,7585317.0,8847037.0,16.633715,High income
Azerbaijan,7010027.0,9942334.0,41.830181,Upper middle income
Belgium,9901664.0,11422068.0,15.355035,High income
Bulgaria,8981446.0,7024216.0,-21.791925,Upper middle income
Bosnia and Herzegovina,4509461.0,3323929.0,-26.289883,Upper middle income
Belarus,10140000.0,9485386.0,-6.455759,Upper middle income
Switzerland,6593386.0,8516543.0,29.167972,High income
Channel Islands,138245.0,170499.0,23.331043,High income
Cyprus,736474.0,1189265.0,61.480921,High income
Czech Republic,10355276.0,10625695.0,2.611413,High income
Germany,78144619.0,82927922.0,6.121091,High income
Denmark,5129516.0,5797446.0,13.021306,High income
Spain,38766939.0,46723749.0,20.524731,High income
Estonia,1561900.0,1320884.0,-15.430949,High income
Finland,4946481.0,5518050.0,11.555063,High income
France,57627105.0,66987244.0,16.242598,High income
Faroe Islands,46830.0,48497.0,3.559684,High income
United Kingdom,56928327.0,66488991.0,16.794212,High income
Georgia,4790700.0,3731000.0,-22.119941,Upper middle income
Gibraltar,29159.0,33718.0,15.634967,High income
Greece,10036983.0,10727668.0,6.881401,High income
Greenland,54800.0,56025.0,2.235401,High income
Croatia,4755207.0,4089400.0,-14.001641,High income
Hungary,10596487.0,9768785.0,-7.811098,High income
Isle of Man,67926.0,84077.0,23.777346,High income
Ireland,3524949.0,4853506.0,37.690106,High income
Iceland,249740.0,353574.0,41.576840,High income
Italy,56629288.0,60431283.0,6.713832,High income
Kazakhstan,16206002.0,18276499.0,12.776112,Upper middle income
Kyrgyz Republic,4218400.0,6315800.0,49.720273,Lower middle income
Liechtenstein,28129.0,37910.0,34.771944,High income
Lithuania,3655049.0,2789533.0,-23.680011,High income
Luxembourg,373450.0,607728.0,62.733432,High income
Latvia,2653434.0,1926542.0,-27.394388,High income
Monaco,29229.0,38682.0,32.341168,High income
Moldova,3660000.0,3545883.0,-3.117951,Lower middle income
North Macedonia,1995513.0,2082958.0,4.382081,Upper middle income
Montenegro,607413.0,622345.0,2.458294,Upper middle income
Netherlands,14760094.0,17231017.0,16.740564,High income
Norway,4209488.0,5314336.0,26.246612,High income
Poland,37824487.0,37978548.0,0.407305,High income
Portugal,10019610.0,10281762.0,2.616389,High income
Romania,23057662.0,19473936.0,-15.542452,Upper middle income
Russian Federation,146857000.0,144478050.0,-1.619909,Upper middle income
San Marino,23551.0,33785.0,43.454630,High income
Serbia,NaN,6982084.0,NaN,Upper middle income
Slovak Republic,5250596.0,5447011.0,3.740813,High income
Slovenia,1995196.0,2067372.0,3.617489,High income
Sweden,8436489.0,10183175.0,20.703944,High income
Tajikistan,5001169.0,9100837.0,81.974194,Low income
Turkmenistan,3493895.0,5850908.0,67.460900,Upper middle income
Turkey,52053765.0,82319724.0,58.143650,Upper middle income
Ukraine,51521000.0,44622516.0,-13.389655,Lower middle income
Uzbekistan,19443887.0,32955400.0,69.489773,Lower middle income
Kosovo,1791000.0,1845300.0,3.031826,Upper middle income